.lead__caption {
	align-self: flex-start;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.15em;
}

@media screen and (max-width: 768px) { 
	.lead__caption {
		padding: 0px 15px;
	}
}