.page__container_xl {
	max-width: 1184px;
}

@media screen and (max-width: 1280px) { 
	.page__container_xl {
		max-width: 95%;
	}
}

@media screen and (max-width: 1024px) { 
	.page__container_xl {
		max-width: 90%;
	}
}